/* リセットする用 */
* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #000;
}

/* PC・SP共通用 */
/* ーーーーー岩崎さんstartーーーーー */

/* ーーーーー岩崎さんendーーーーー */


/* ーーーーー太田さんstartーーーーー */

/* ーーーーー太田さんendーーーーー */


/* ーーーーー山村startーーーーー */

/* ーーーーー山村endーーーーー */



/* PC用 */
@media screen and (min-width: 769px) {
  /* ーーーーー岩崎さんstartーーーーー */

  /* ーーーーー岩崎さんendーーーーー */


  /* ーーーーー太田さんstartーーーーー */

  /* ーーーーー太田さんendーーーーー */


  /* ーーーーー山村startーーーーー */

  /* ーーーーー山村endーーーーー */
}


/* SP用 */
@media screen and (max-width: 768px) {
  /* ーーーーー岩崎さんstartーーーーー */

  /* ーーーーー岩崎さんendーーーーー */


  /* ーーーーー太田さんstartーーーーー */

  /* ーーーーー太田さんendーーーーー */


  /* ーーーーー山村startーーーーー */

  /* ーーーーー山村endーーーーー */
}